VITE_NAME=Your Name
VITE_EMAIL=your.email@example.com
VITE_GITHUB_LINK=https://github.com/yourusername
VITE_LINKEDIN_LINK=https://www.linkedin.com/in/yourprofile
VITE_DISCORD_LINK=https://discordapp.com/users/yourdiscordid