.container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 10px;
}
.graphicContainer {
  --s: 30px; /* size of the corners */
  height: 200px;
  aspect-ratio: 16 / 9;
  margin-top: 20px;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
}

.graphicContainer img {
  height: 100%;
  width: 100%;
  border-radius: 10px;
  border: 3px solid var(--theme-color);
  mask: conic-gradient(#000 0 0) content-box,
    conic-gradient(at var(--s) var(--s), #0000 75%, #000 0) 0 0 /
      calc(100% - var(--s)) calc(100% - var(--s));
}

.graphicContainer iframe {
  height: 100%;
  width: 100%;
  border-radius: 10px;
  border: 3px solid var(--theme-color);
  mask: conic-gradient(#000 0 0) content-box,
    conic-gradient(at var(--s) var(--s), #0000 75%, #000 0) 0 0 /
      calc(100% - var(--s)) calc(100% - var(--s));
}
