.blogs {
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 100%;
  align-items: center;
}

.blog {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px dashed var(--default-text-color);
  width: 100%;
  text-decoration: none;
  align-items: center;
}

.blog:hover {
  cursor: pointer;
  transform: scale(1.01);
  border-bottom: 1px dashed var(--theme-color);
  transition: all 0.2s ease-in-out;
}

.blog h3 {
  color: var(--default-text-color);
  margin: 0;
  width: 65%;
}

.blog p {
  color: var(--default-text-color);
  margin: 0;
  margin-left: 20px;
}

.blog:hover h3,
.blog:hover p {
  color: var(--theme-color);
  transition: all 0.2s ease-in-out;
}
