.tile {
  background-color: var(--tile-background-color);
  border-radius: 10px;
  border: var(--tile-border-color) 1px solid;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  padding: 20px;
}

.tile:hover {
  border: var(--theme-color) 1px solid;
  transition: border 0.1s ease-in-out;
}
