.container {
  display: flex;
  height: 100%;
}
.leftSection {
  width: 70%;
  display: flex;
  flex-direction: column;
}
.socials {
  display: flex;
  flex-grow: 1;
  gap: 10px;
  align-items: end;
}
.socials button {
  background-color: black;
  height: 45px;
  width: 65px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid var(--theme-color);
  border-radius: 10px;
  box-shadow: 2px 2px var(--theme-color);
}
.socials button:hover {
  cursor: pointer;
  transform: scale(1.1);
  transition: all 0.2s ease-in-out;
}
.socials button div {
  width: 20px;
  height: 20px;
  background-color: white;

  mask-repeat: no-repeat;
  mask-position: 0 0;
  mask-size: 100% 100%;
}
.socials button:hover div {
  background-color: var(--theme-color);
}

.githubIcon {
  mask-image: url("/graphic/social-icons/github-mark-white.svg");
}

.linkedInIcon {
  mask-image: url("/graphic/social-icons/linkedin.svg");
}

.discordIcon {
  mask-image: url("/graphic/social-icons/discord.svg");
}

.quote {
  margin: 30px 0;
  font-size: 1.2rem;
  font-weight: bold;
  color: var(--theme-color);
}

.rightSection {
  width: 30%;
  display: flex;
  justify-content: end;
  align-items: end;
}

.graphic {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.light {
  position: absolute;
  top: 0%;
  left: 20%;
  background-color: var(--theme-color);
  width: 60%;
  height: 60%;
  border-radius: 100%;
  filter: blur(2rem);
}

.graphic img {
  max-width: 100%;
  height: auto;
  border-radius: 8px;
  z-index: 1;
}
