:root{
  --line-color: 	#4d4d4d;
  --line-gap: 80px;
  --background-color: #1e1e1e;
  --background-fade-color: #000000;

  --tile-background-color: #1e1e1e;
  --tile-border-color: #4d4d4d;
  --tile-border-hover-color: #ef6b00;


  background: linear-gradient(0deg, var(--background-fade-color), transparent) no-repeat 0 0 / 100% 100%,
              linear-gradient(90deg, var(--line-color) 1px, transparent 1px) 0 0 / var(--line-gap) var(--line-gap),
              linear-gradient(var(--line-color) 1px, transparent 1px) 0 0 / var(--line-gap) var(--line-gap),              
              var(--background-color);
}

html{
  min-height: 100vh;
}